@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
    color: #333333;
}

.container {
    max-width: 1145px;
    margin: auto;
}

#main-navigation .container {
    display: flex;
    align-items: center; /* VERTICAL */
    justify-content: space-between; /* HORIZONTAL */
    height: 122px;
}

#main-navigation .logo {
    font-weight: 700;
    font-size: 34px;
    color: #054C73
}

#main-navigation .menu a {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    margin-left: 60px;
    color: #333333;
}

#hero-banner {
    /* background-image: url(./img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    padding: 150px 0;
    background: url(./img/hero-bg.jpg) no-repeat center / cover;
}

#hero-banner .container {
    display: flex;
    justify-content: flex-end;
}

#hero-banner .text-card {
    background-color: #DFE9F4;
    padding: 40px;
    width: 643px;
    border-radius: 10px;
}

#hero-banner .subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

#hero-banner .title {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.25;
    color: #054C73;
    margin-bottom: 20px;
}

#hero-banner p {
    font-size: 18px;
    font-weight: 500;
    line-height: 2.17;
}

.btn {
    padding: 25px 72px;
    background-color: #054C73;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 35px;
    display: table;
    margin-top: 30px;
}